<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }

        ul {
            list-style-type: none;
        }

        form {
            display: inline;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>

    <ul th:each="course :  ${courses}">
        <li >
<!--            <input type="radio" name="courseId" th:value="${course.courseId}"/>-->
            <th:block th:text="${course.name}"></th:block>

            <form th:method="PUT" th:action="@{'/courses/edit-form/{id}' (id=${course.id})}">
                <th:block th:if="${#request.getRemoteUser() != null}"> <button type="submit" class="btn btn-sm btn-danger">Edit</button></th:block>
            </form>

            <form th:method="DELETE" th:action="@{'/courses/delete/{id}' (id=${course.id})}">
                <th:block th:if="${#request.getRemoteUser() != null}"><button type="submit" class="btn btn-sm btn-danger">Delete</button> </th:block>
            </form>
        </li>
    </ul>

    <hr>
    <h3>Choose a course to add a student</h3>
    <form th:method="POST" th:action="@{/listCourses}">
        <ul>
            <li th:each="course :  ${courses}">
                <input type="radio" name="courseId" th:value="${course.id}"/>
                <th:block th:text="${course.name}"></th:block>
            </li>
        </ul>
        <br/>
        <th:block th:if="${#request.getRemoteUser() != null}"><input type="submit" value="Add Student"></th:block>
    </form>

</main>
</body>
</html>